@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff; 
}

.logo {
    width: 300px;
}
ul {
    display: flex;
}

li {
    list-style: none;
    padding-left: 16px;
}